.page{
    width: 90vw;
    margin: 0 auto;
}
.films{

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.film-info{
width: 350px;
min-height: 400px;


}
.film-info img{
    width: 300px;
    height:350px;
}